version: '3.8'

services:
  traefik:
    image: traefik:v3.1

    command:
      - "--providers.swarm=true"
      - "--providers.swarm.exposedByDefault=false"

      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"

      - "--certificatesresolvers.le.acme.httpchallenge=true"
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.le.acme.email=contact@hamsterdeal.ch"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"

      - "--api.dashboard=true"
      - "--log.level=INFO"

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/traefik/letsencrypt:/letsencrypt

    deploy:
      placement:
        constraints: [node.role == manager]
      labels:
        - "traefik.enable=true"

        # ⚠️ LE PORT INTERNE OBLIGATOIRE EN SWARM
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"

        # Dashboard HTTPS
        - "traefik.http.routers.dashboard.rule=Host(`traefik.hamsterdeal.ch`)"
        - "traefik.http.routers.dashboard.entrypoints=websecure"
        - "traefik.http.routers.dashboard.service=api@internal"
        - "traefik.http.routers.dashboard.tls.certresolver=le"
